.title{

            font-weight: bold;
            font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
            font-style:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
            font-size:x-large
            background-color: hotpink; 
            text-align: center;
            box-shadow: 3px 5px 10px hotpink; 
            color: hotpink;
  